POSTGRES_USER=smp_user
POSTGRES_PASSWORD=smp_password
POSTGRES_DB=smp_db
POSTGRES_HOST=postgres
POSTGRES_PORT=5432

GATEWAY_PORT=8080
CARD_MGMT_PORT=8081
SWITCH_PORT=8082
AUTH_PORT=8083
TERMINAL_PORT=8085
MERCHANT_PORT=8086
LOGGER_PORT=8088
DASHBOARD_PORT=3000