DB_USER=smp_user
DB_PASSWORD=smp_password
DB_NAME=smp_db
DB_HOST=postgres
DB_PORT=5432

GATEWAY_PORT=8080
CARD_MGMT_PORT=8081
SWITCH_PORT=8082
AUTH_PORT=8083
TERMINAL_PORT=8085
MERCHANT_PORT=8086
LOGGER_PORT=8088
KMS_PORT = 8099
DASHBOARD_PORT=3000
PROMETHEUS_PORT=9090
GRAFANA_PORT=3001
GRAFANA_ADMIN_USER=admin
GRAFANA_ADMIN_PASSWORD=admin
LOKI_PORT=3100
GATEWAY_SHUTDOWN_DRAIN_PERIOD=30s
GATEWAY_STOP_GRACE_PERIOD=35s
