# Порт, на котором будет работать сервис
PORT=8080
# Хост базы данных
DB_HOST=localhost
# Порт базы данных
DB_PORT=5431
# Имя базы данных
DB_NAME=postgres
# Имя пользователя базы данных
DB_USER=postgres
# Пароль базы данных
DB_PASSWORD=postgres
