# Порт, на котором будет работать сервис
SERVER_PORT=8080

# Хост базы данных
DB_HOST=localhost

# Порт базы данных
DB_PORT=5432

# Имя базы данных
DB_NAME=postgres

# Имя пользователя базы данных
DB_USER=postgres

# Пароль базы данных
DB_PASSWORD=postgres

# Номер банка-эмитента
ISSUER_ID=ZZZZZZ
