<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="SMP E2E Test Suite" parallel="false" verbose="2">


    <test name="Health Check">
        <classes>
            <class name="com.processing.e2e.tests.HealthCheckTest"/>
        </classes>
    </test>

    <test name="Gateway Validation">
        <classes>
            <class name="com.processing.e2e.tests.GatewayValidationTest"/>
        </classes>
    </test>


    <test name="Switch routing">
        <classes>
            <class name="com.processing.e2e.tests.TC_06_TC_14_SwitchTest"/>
        </classes>
    </test>

    <test name="Transaction search">
        <classes>
            <class name="com.processing.e2e.tests.TransactionSearchTest" />
        </classes>
    </test>
</suite>
